*__pycache__
*.ipynb_checkpoints/
experiments/improvement/checkpoint
experiments/improvement/ckpt-10.data-00000-of-00001
experiments/improvement/ckpt-10.index
experiments/improvement/ckpt-11.data-00000-of-00001
experiments/improvement/ckpt-11.index
experiments/improvement/ckpt-12.data-00000-of-00001
experiments/improvement/ckpt-12.index
experiments/improvement/ckpt-13.data-00000-of-00001
experiments/improvement/ckpt-13.index
experiments/improvement/ckpt-7.data-00000-of-00001
experiments/improvement/ckpt-7.index
experiments/improvement/ckpt-8.data-00000-of-00001
experiments/improvement/ckpt-8.index
experiments/improvement/ckpt-9.data-00000-of-00001
experiments/improvement/ckpt-9.index
experiments/improvement/exported/checkpoint/checkpoint
experiments/improvement/exported/checkpoint/ckpt-0.data-00000-of-00001
experiments/improvement/exported/checkpoint/ckpt-0.index
experiments/improvement/exported/saved_model/variables/variables.data-00000-of-00001
